In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df_path = "c:/Users/Userpc/Desktop/Projects/ML Shortcuts/Data/smoking.csv"
df = pd.read_csv(df_path)

In [11]:
df.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [14]:
def clean_data(dataf):
    return (dataf
            .assign(alive=lambda d: (d['outcome']=='Alive').astype(int))
            .assign(smokes=lambda d: (d['smoker']=='Yes').astype(int)))

In [15]:
cleaned_df = df.pipe(clean_data)
cleaned_df

     outcome smoker  age  alive  smokes
0      Alive    Yes   23      1       1
1      Alive    Yes   18      1       1
2       Dead    Yes   71      0       1
3      Alive     No   67      1       0
4      Alive     No   64      1       0
...      ...    ...  ...    ...     ...
1309   Alive    Yes   35      1       1
1310   Alive     No   33      1       0
1311   Alive    Yes   21      1       1
1312   Alive     No   46      1       0
1313   Alive    Yes   41      1       1

[1314 rows x 5 columns]

In [17]:
cleaned_df.loc[lambda d: d['smokes'] == 1]['alive'].mean()

0.761168384879725